Repository OpusCapita/filemanager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

#145 Add gzip for demo server for reduce JS bundle size (#146)
  demo/index.js
  demo/package.json
Owners: @kvolkovich-sc, @asergeev-sc

Tmp commit
  .gitignore
  package.json
  packages/server-nodejs/api-tests/api-tests.spec.js
  packages/server-nodejs/api-tests/rest-test.json
  packages/server-nodejs/config/test/mocha-setup.js
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change .circleci/config.yml
  .circleci/config.yml
  package.json
  packages/server-nodejs/api-tests/api-tests.spec.js
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change package.json
  packages/server-nodejs/package.json
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml && package.json
  .circleci/config.yml
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
  packages/server-nodejs/api-tests/api-tests.spec.js
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change config.yml
  .circleci/config.yml
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Change config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

(#103)Change .circleci/.config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

(#103) Tests for 'Get resources metadata', 'Rename resources' && 'Create folders'
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

(#103) API-tests for 'Copy resources'
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

(#103) API-tests for 'Move resources' && 'Remove resources'
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

Change config.yml
  .circleci/config.yml
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

Fix test
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

(#103) API-tests for uploading && downloading
  packages/server-nodejs/api-tests/api-tests.spec.js
Owners: @amourzenkov-sc, @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

Change .circleci/config.yml
  .circleci/config.yml
Owners: @kvolkovich-sc, @asergeev-sc

(#103) Add REST-API tests to build-process on CircleCI
  .circleci/config.yml
  packages/server-nodejs/api-tests/api-tests.spec.js
  packages/server-nodejs/api-tests/rest-test.json
  packages/server-nodejs/api-tests/rest-test.postman_collection.json
  packages/server-nodejs/package.json
Owners: @kvolkovich-sc, @asergeev-sc, @amourzenkov-sc

.github/CODEOWNERS:

* @kvolkovich-sc @asergeev-sc

/packages/client-react @kvolkovich-sc @asergeev-sc
/packages/connector-node-v1 @kvolkovich-sc @asergeev-sc
/packages/connector-google-drive-v2 @kvolkovich-sc @asergeev-sc
/packages/server-nodejs @amourzenkov-sc @kvolkovich-sc @asergeev-sc
